nav{
    display: flex;
    flex-direction: row;
    background-color: var(--primary);
    justify-content: space-around;
    align-items: center;
    height: 7vh;

    img {
        width: 38px;
        height: 38px;
        border-radius: 100%;
    }
    
    h1 {
        color: var(--title-color);
        font-family: var(--title-font);
    }

}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#links {
    display: flex;
    font-family: var(--title-font);
    gap: 20px;
    a {
        color: var(--title-color);
        text-decoration: none;
    }
}

.section {
    height: 200px;
}

#hero {
    background-color: var(--primary);
}