@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light: #3B2458;
    --dark: #0B0A12;
    --title-color: #F7F4FB;
    --subtitle-color: #C8BDD4;
    --title-font: "Poppins", sans-serif;
    --subtitle-font: "Inter", sans-serif;
    --btn-color: #A55AD7;
    --card-color: #2E2540;
    --aboutus-bg-color: #241D31;
}